/*
 * codeinvers3.github.io
 */

body{
	font-family: Arial;
	color: #1b1b1b;
	background-color: #FFF;
	font-size: 18px;
}

/* Content and page */
.container{
	margin: 0;
	padding: 0;
	position: relative;
	background-color: transparent;
}

.content{
	max-width: 980px;
	padding: 6px;
	margin: 0 auto;
}

/* Header styles */

#header{
	padding: 2px;
}

#header .nav-brand{
	margin: 10px 15px;
}

#header .logo{
	display: block;
}

#header .logo .image-svg{
	width: 150px;
}

#header .top-nav{

}

#header .top-nav li{
	border-left: 1px solid #1b1b1b;
	text-transform: uppercase;
}

#header .top-nav li:first-child{
	border-left: none;
}

#header .top-nav li a{
	padding: 10px;
}


/* Message box style */
#form-messages{
	display: none;
}

#form-messages .box{
	display: block;
}

#form-messages .box[class*="message-"]{
	color: #FFF;
}

#form-messages .message-error{
	background-color: #BA0B0B;
}

#form-messages .message-warning{
	background-color: #C68B02;
}

#form-messages .message-success{
	background-color: #35AB0A;
}

#form-messages .box-title{
	font-size: 17px;
	font-weight: normal;
	padding: 7px;
}

#form-messages .btn-close{
	background-color: transparent;
	cursor: pointer;
	color:#FFF;
}

/* Media screen */

@media screen and (max-width: 1280px){

	#top-menu{
		display: none;
	}

}

@media screen and (max-width: 430px){

	.container-background{
		display:none;
	}
}

@media (min-width: 320px) and (max-width: 463px){
	
	.container-background{
		display:none;
	}

}

@media (max-width: 1024px) {
	
	.container{
		display: inherit;
	}

}
  